<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assests/css/cat.css">
    <link rel="stylesheet" href="../assests/css/all.css">
    <link rel="stylesheet" href="../assests/css/style.css">
    <title>E-Library Catgories</title>
    <style>
    </style>
</head>
<body>
    <nav >
        <ul class = "nav-menu">
            <li><a href="">أدخل حسابك أو سجل الان</a></li>
            <li><a href="">الرئيسية</a></li>
            <li><a href="">من نحن </a></li>
            <li><a href="">اتصل بنا</a></li>
            <li><a href=""></a>المساعدة</li>
            <li><a href=""></a>سياسية الحصوصية</li>
        </ul>
        <div class="nav-cuntery" >اليمن</div>
        <div class="nav-cuntery-somble">YER</div>
      <div class="nav-change-langege"><div>English </div></div>
    </div>
    </nav>
    
    <header >
        <div class="log"></div>
        <form action="">
            <input type="search">
        </form>
        <div class="buy-log"></div>
    </header>
    <div class="main-header">
        <ul class="indicator">
            <li data-filter="all" class="active"> <a href="#">الكل</a> </li>
            <li data-filter="Book"> <a href="#">الكبت</a> </li>
            <li data-filter="Phones"> <a href="#">الهواتف</a> </li>
            <li data-filter="Watch"> <a href="#">الساعات</a> </li>
            <li data-filter="Shoes"> <a href="#">الجزمات</a> </li>
            <li data-filter="Accesseries"> <a href="#">الاكسس وارات</a> </li>
        </ul>
        <div class="filter-condition">
            <span>يعرض</span>
            <select name="" id="select">
                <option value="Default">الافتراض</option>
                <option value="LowToHigh">تصاعطي</option>
                <option value="HighToLow">تنازلي</option>
            </select>
        </div>
    </div>
    <div class="product-field">
        <ul class="items">
            <li class="data-category">
                <picture>
                    <img src="../assests/images/catagers/phones/phone1.jpg" alt="">
                </picture>
                <div class="detail">
                    <p class="icon">
                        <span><i class="far fa-heart"></i></span>
                        <span><i class="far fa-share-square"></i></span>
                        <span><i class="fas fa-shopping-basket"></i></span>
                    </p>
                    <strong>هاتف</strong>
                    <span> هاتف راع</span>
                    <small>إشتري الان</small>
                </div>
                <h4> 750.50 ر.س</h4>
            </li>
            <li class="data-category">
                <picture>
                    <img src="../assests/images/catagers/whatches/wheach1.jpg" alt="">
                </picture>
                <div class="detail">
                    <p class="icon">
                        <span><i class="far fa-heart"></i></span>
                        <span><i class="far fa-share-square"></i></span>
                        <span><i class="fas fa-shopping-basket"></i></span>
                    </p>
                    <strong>ساعه</strong>
                    <span>ساعه راعه</span>
                    <small>إشتري الان</small>
                </div>
                <h4> 45.78 ر.س</h4>
            </li>

        </ul>
        <ul class="items">
            <li class="data-category">
                <picture>
                    <img src="../assests/images/catagers/phones/phone1.jpg" alt="">
                </picture>
                <div class="detail">
                    <p class="icon">
                        <span><i class="far fa-star"></i></span>
                        <span><i class="far fa-share-square"></i></span>
                        <span><i class="fas fa-shopping-basket"></i></span>
                    </p>
                    <strong>هاتف</strong>
                    <span> هاتف راع</span>
                    <small>إشتري الان</small>
                </div>
                <h4> 750.50 ر.س</h4>
            </li>
            <li class="data-category">
                <picture>
                    <img src="../assests/images/catagers/whatches/whatch4.jpg" alt="">
                </picture>
                <div class="detail">
                    <p class="icon">
                        <span><i class="far fa-star"></i></span>
                        <span><i class="far fa-share-square"></i></span>
                        <span><i class="fas fa-shopping-basket"></i></span>
                    </p>
                    <strong>ساعه</strong>
                    <span>ساعه راعه</span>
                    <small>إشتري الان</small>
                </div>
                <h4>  45.78 ر.س </h4>
            </li>

        </ul>
    </div>
    </div>
    <footer>
        <div class="footer-1">
        <div class="col1">أنضم إلى نشرتنا البريد</div>
        <div class="col2">خدمة العملاء</div>
        <div class="col3">خدمات</div>
        <div class="col4">روابط سريعه</div>
        <div class="col5">عن جرير</div>
        <div class="col1 enter-email">
            <form action="" style="float:right;">
                <input type="email" placeholder="أدخل بريدك الاكتروني"> 
                <button>إشترك</button>
            </form>
        </div>
        
        <div class="col2">مبيعات الشركات</div>
        <div class="col3">خدمة تقصيد المشريات </div>
        <div class="col4">إصدارات جرير</div>
        <div class="col5">من حن</div>
        <div class="col2">الأسالة المتكررة</div>
        <div class="col3">خدمات مابعد البيع</div>
        <div class="col4">قارئ الجزيره</div>
        <div class="col5">الحوكمة</div>
        <div class="col2">دليل التسوق الطبوعات</div>
        <div class="col3">خدمة الحماية الشامله</div>
        <div class="col4">شركاء برامج المكافئات</div>
        <div class="col5">علاقات المستثمرين والتقارير</div>
        <!-- form here rebeated  -->
        <div class="col2">مبيعات الشركات</div>
        <div class="col3">خدمة تقصيد المشريات </div>
        <div class="col4">إصدارات جرير</div>
        <div class="col5">من حن</div>
        <div class="col2">الأسالة المتكررة</div>
        <div class="col3">خدمات مابعد البيع</div>
        <div class="col4">قارئ الجزيره</div>
        <div class="col5">الحوكمة</div>
        <div class="col1">تواصل معنا</div>
        <div class="col2">دليل التسوق الطبوعات</div>
        <div class="col3">خدمة الحماية الشامله</div>
        <div class="col4">شركاء برامج المكافئات</div>
        <div class="col5">علاقات المستثمرين والتقارير</div>
    </div>
    <div class="footer-2">
        
    </div>
    </footer>
   <script>
       let indicator = document.querySelector('.indicator').childern;
       let li = document.querySelector('.items').childern;
       for(let i in li ) {
           const name = i.querySelector('strong');
           const x = name.textContent;
           i.setAttribute('data-category',x);
       }
       for(let i=0; i< indicator.length;i++)
       {
           indicator[i].onclick = function(){
               for(let x= 0; x<indicator.length;x++)
               {
                   indicator[x].classlist.remove('active');
                }
                this.classlist.add('active');
                   const displayitems = this.getAttribute('data-filter');
              for(let z=0; z<li.length;z++){
                  li[z].style.transform = 'scale(0)';
                  setTimeout(()=>
                  {
                      li[z].style.display = 'none';
                  },500
                  );
                  if ((li[z].getAttribute('data-category') == displayItems) || displayitems == 'all') 
                  {
                    li[z].style.transform = 'scale(1 )';
                    setTimeout(()=>
                    {
                        li[z].style.display = 'block ';
                    },500
                    );
                  }
              }
           }
       }
    

   </script>
           
</body>
</html> 